[submodule "misc/module3/task1/ccamnote_esp32_controller/components/esp32-camera"]
	path = misc/module3/task1/ccamnote_esp32_camera/components/esp32-camera
	url = git@github.com:espressif/esp32-camera.git
